input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
//   div {
//     border-radius: 5px;
//     background-color: #f2f2f2;
//     padding: 20px;
//   }



  .form-container{

    display: flex;
    justify-content: center;
    align-items: center;

       form{

        width: 30%;

       .project-section{
          
       }

       .addProjects-btn{

        background-color:rgb(148, 232, 165);
       
        width: 100px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        padding-top: 5px;
        padding-bottom:5px;

       }

       }

     
    
  }





  #empTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 200px;

    margin-top: 70px;
    margin-bottom: 300px;

    td{
        width: 40%;

        &:first-child{
            width: 20%;
        }



    }
  }
  
  #empTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #empTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #empTable tr:hover {background-color: #ddd;}
  
  #empTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }



.back-ground{
  background-color: lightgreen;
}
